<div class="edit" [ngClass]="{'show':showModal}">
  <div class="content">
    <div class="breadcrumbs">
      <div class="breadcrumbs-item"><a routerLink="/">Справочники</a></div>
      <div class="separator">></div>
      <div class="breadcrumbs-item"><a [routerLink]="" (click)="hide()">Типы ошибок</a></div>
    </div>
    <div class="title">
      <div class="title-text">{{title}}</div>
    </div>

    <div class="info-block">
      <table class="form-table">
        <tr class="input-block">
          <td class="name">Наименование</td>
          <td class="input"><input type="text" [(ngModel)]="editedType.name" [disabled]="choisedType.name"></td>
        </tr>
        <tr class="input-block">
          <td class="name">Тяжесть</td>
          <td class="input"><input type="number" [(ngModel)]="editedType.weight"></td>
        </tr>
        <tr class="input-block">
          <td class="name">Балл</td>
          <td class="input"><input type="number" [(ngModel)]="editedType.point"></td>
        </tr>
        <tr class="input-block">
          <td class="name">Действует до</td>
          <td class="input"><input type="date" [ngModel]="editedType.endDate | date:'yyyy-MM-dd'"
                                    (ngModelChange)="editedType.endDate = $event"></td>
        </tr>
        <tr class="input-block">
          <td class="name">Описание</td>
          <td class="input"><textarea name="" id="" cols="30" rows="10"
                                       [(ngModel)]="editedType.description"></textarea></td>
        </tr>
        <tr class="input-block">
          <td class="name">Единицы измерения</td>
          <td class="input"><input type="text" [(ngModel)]="editedType.ei"></td>
        </tr>
      </table>
    </div>
    <div class="info-block">
      <div class="buttons-block">
        <div class="button-block">
          <button (click)="confirm()">Сохранить</button>
        </div>
        <div class="button-block">
          <button (click)="cancel()">Отменить<span *ngIf="choisedType.name"> изменения</span></button>
        </div>
        <div class="button-block" *ngIf="choisedType.name">
          <button (click)="remove()">Удалить</button>
        </div>
      </div>
    </div>
  </div>

</div>
