<div class="edit" [ngClass]="{'show':showModal}">
  <div class="content">
    <div class="breadcrumbs">
      <div class="breadcrumbs-item"><a routerLink="/">Справочники</a></div>
      <div class="separator">></div>
      <div class="breadcrumbs-item"><a [routerLink]="" (click)="hide()">Типы ошибок</a></div>
      <div class="separator">></div>
    </div>
    <div class="title">
      <div class="title-text">{{title}}</div>
    </div>
    <div class="info-block">
      <form #form="ngForm">
        <table class="form-table">
          <tr class="input-block">
            <td class="name">Наименование</td>
            <td class="input"><input type="text" name="name" #name="ngModel" [(ngModel)]="editedType.name"
                                     [disabled]="choisedType.name" required></td>
            <td *ngIf="name.touched && !name.valid && !choisedType.name" class="invalid">Должно быть заполнено</td>
          </tr>
          <tr class="input-block">
            <td class="name">Тяжесть</td>
            <td class="input"><input type="number" name="weight" #weight="ngModel"
                                     [(ngModel)]="editedType.weight" required></td>
            <td *ngIf="weight.touched && !weight.valid" class="invalid">Должно быть заполнено</td>
          </tr>
          <tr class="input-block">
            <td class="name">Балл</td>
            <td class="input"><input type="number" name="point" #point="ngModel" [(ngModel)]="editedType.point"
                                     required></td>
            <td *ngIf="point.touched && !point.valid" class="invalid">Должно быть заполнено</td>
          </tr>
          <tr class="input-block">
            <td class="name">Действует до</td>
            <td class="input"><input type="date" name="endDate" #endDate="ngModel"
                                     [ngModel]="editedType.endDate | date:'yyyy-MM-dd'"
                                     (ngModelChange)="editedType.endDate = $event" required></td>
            <td *ngIf="endDate.touched && !endDate.valid" class="invalid">Должно быть заполнено</td>
          </tr>
          <tr class="input-block">
            <td class="name">Описание</td>
            <td class="input"><textarea cols="30" rows="10" name="describe"
                                        [(ngModel)]="editedType.describe"></textarea></td>
          </tr>
          <tr class="input-block">
            <td class="name">Единицы измерения</td>
            <td class="input">
              <select name="units" [(ngModel)]="editedType.units">
                <option value="{{unit.name}}" *ngFor="let unit of units">
                  {{unit.name}}
                </option>
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div class="info-block">
      <div class="buttons-block">
        <div class="button-block">
          <button (click)="confirm()" [disabled]="form.invalid || form.pristine">Сохранить</button>
        </div>
        <div class="button-block">
          <button (click)="cancel()">Отменить<span *ngIf="choisedType.name && form.dirty"> изменения</span></button>
        </div>
        <div class="button-block" *ngIf="choisedType.name">
          <button (click)="remove()">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>
