.edit
  background-color: #f4f4f4
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0

.info-block
  > div, table
    margin: 1rem

.show
  display: block !important

.form-table
  border-spacing: 0
  td
    padding: 0.7rem
    padding-left: 0

.button-block, .buttons-block
  float: left

.button-block
  margin: 1.5rem
  margin-left: 0

.invalid
  color: coral

.pseudo-select
  position: relative
  float: left
  width: 100%
  input:disabled
    color: black
  .arrows
    border-radius: 0 0.3rem 0.3rem 0
    position: absolute
    right: 0
    top: 0
    width: 2.8rem
    float: left
    height: 100%
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    align-content: center
    background: linear-gradient(to top, #096073, #51a9bb)
    .arrow
      width: 100%
      text-align: center
      font-size: 0.9rem
      height: 100%
      opacity: 0.8
      cursor: pointer
      &:hover
        opacity: 1
      img
        width: 0.6rem
    .up
      border-bottom: 1px solid #999999




