/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

@media screen and (min-width: 1200px) {
  .content {
    width: 70% !important
  }
}

body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans';
  font-size: 0.9rem;
  background-color: #f4f4f4;
}

button {
  border: 0px solid black;
  border-radius: 0.3rem;
  background-color: #0885a0;
  padding: 0.65rem;
  color: white;
  cursor: pointer;
}

button:disabled {
  /*background-color: #999999;
  color: azure;*/
  opacity: 0.5;
  cursor: default;
}

input, textarea, select,.pseudo-select {
  padding: 0.65rem;
  border: 1px solid #999999;
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
}
.pseudo-select{

}
input.ng-touched.ng-invalid {
  border: solid red 2px;
}

.breadcrumbs {
  margin: 1rem;
}

.breadcrumbs-item, .separator {
  float: left;
  margin-right: 1rem
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  width: 100%;
  padding-top: 2rem;
}

a {
  color: #0885a0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
